body {
    margin: 0;
    min-height: 100vh;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.page-title {
    display: inline-block;
    font-size: 2rem;
    margin: 0;
    vertical-align: middle;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.stream-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.stream {
    max-width: 400px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px #ffd700; 

  }
  
  .stream-card:hover {
    cursor: pointer;
  }
  
  
  .stream img {
    width: 10px;
    height: 10px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .stream p {
    margin: 0;
    font-size: 16px;
    flex-grow: 1;
  }
  
  .stream .stream-title {
    font-weight: bold;
  }
  
  .stream .stream-details {
    text-align: right;
    font-size: 14px;
  }
  
/* Style the dropdown button */
.dropbtn {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: black;
  }
  
  /* The dropdown container */
  .dropdown {

    position: relative;
    display: inline-block;
    text-align: right;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: black;
  }
  
  .dropdown h1
   {
    display: inline-block;
    vertical-align: middle;
    margin: 0;

    border: 1px solid black;
    padding: 10px;
  }

  .dropdown button {
    text-align: center;

    padding: 5px;
  }
  
  .stream-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.favorites-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.favorites-button,
.status-button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.favorites-button {
    background: linear-gradient(45deg, #ff0000, #ff7f00, #4b0082, #8f00ff);
    animation: rainbow 10s ease infinite;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
  }
  
  .favorites-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #ffffff;
  }
  
  .favorites-button:active {
    transform: scale(0.9);
    box-shadow: none;
  }
  

.status-button {
    background-color: black;
    color: white;
}

.status-button:focus {
    background-color: white;
    color: black;
    outline: none;
}

.favorites-streamers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
  }
  